
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.top-header{
  background-color: #39587D;
  font-family: helvetica;
  font-size: 28px;
  height: 80px;
}
.header1{
  margin-left: 160px;
}
.spans{

  color: white;
}
.span1{
padding-right: 100px;
  // padding: 10px;
}

.span2{
  border-left: 2px solid white;
  padding: 100px;
}
.span3{
  border-left: 2px solid white;
  padding: 100px;
}
.kelley{

  font-size: 100px;
  color: #39587D;
  font-weight: bold;
  text-align: center;
}
.main-header{
  background-color: #E5EDF4;
}
.line{
  height: 10px;
  background: linear-gradient(#96E486, #205682, #96E486);
  text-align: center;
  border-style: hidden;
  width: 40%;
}
.eng{
  font-size: 60px;
  color: #39587D;
  text-align: center;
}
.image{
  width: 100%
}
.header2{
  background-color: #39587D;
  font-family: helvetica;
  font-size: 28px;
  height: 80px;
}
.design{
font-size: 28px;
margin-left: 280px;
color: white;
margin-top: 20px;
}
.header4{
  text-align: center;
}
.list{
  font-size: 24px;
}
.main-body{
  background-color: #E5EDF4;
}
.brag1{
  margin-left: 178px;
  padding: 20px;
  width: 275px;
  background-color: #7D98B8;
  height: 275px;
}
.brag2{
  margin-left: 20px;
  padding: 20px;
  width: 275px;
  background-color: #7D98B8;
  height: 275px;
}
.brag3{
  margin-left: 20px;
  padding: 20px;
  width: 275px;
  height: 275px;
  background-color: #7D98B8;
}
.peop{
  color: white;
  font-size: 20px;
}
.rela{
  color: white;
  font-size: 20px;
}
.res{
  color: white;
  font-size: 20px;
}
.par{
color: white;
}
.para3{

}
